<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explosion/explo_fire0001@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{445, 1}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0002@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{129, 149}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0003@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 371}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0004@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 445}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0005@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{149, 65}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0006@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{223, 129}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0007@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{297, 1}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0008@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{371, 1}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0009@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{371, 65}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0010@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{445, 75}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0011@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 223}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0012@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 297}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0013@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 445}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0014@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{149, 445}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0015@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 75}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0016@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{223, 1}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0017@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{297, 65}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0018@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 75}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0019@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 297}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0020@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 149}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0021@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 371}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0022@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{129, 371}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0023@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{149, 1}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0024@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 149}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0025@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{223, 65}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0026@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0027@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 223}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0029@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{129, 223}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0030@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{129, 297}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0031@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 1}, {62, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 72}}</string>
			<key>sourceSize</key>
			<string>{62, 72}</string>
		</dict>
		<key>explosion/explo_fire0032@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{129, 65}, {19, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 13}}</string>
			<key>sourceSize</key>
			<string>{19, 13}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>explosion.png</string>
	</dict>
</dict>
</plist>
