<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>object_physics-game-wood/T1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 162}, {112, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 56}}</string>
			<key>sourceSize</key>
			<string>{112, 56}</string>
		</dict>
		<key>object_physics-game-wood/T10.png</key>
		<dict>
			<key>frame</key>
			<string>{{43, 235}, {117, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 40}}</string>
			<key>sourceSize</key>
			<string>{117, 40}</string>
		</dict>
		<key>object_physics-game-wood/T11.png</key>
		<dict>
			<key>frame</key>
			<string>{{235, 1}, {232, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {232, 40}}</string>
			<key>sourceSize</key>
			<string>{232, 40}</string>
		</dict>
		<key>object_physics-game-wood/T2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 43}, {117, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 78}}</string>
			<key>sourceSize</key>
			<string>{117, 78}</string>
		</dict>
		<key>object_physics-game-wood/T3.png</key>
		<dict>
			<key>frame</key>
			<string>{{262, 397}, {78, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 78}}</string>
			<key>sourceSize</key>
			<string>{78, 78}</string>
		</dict>
		<key>object_physics-game-wood/T4.png</key>
		<dict>
			<key>frame</key>
			<string>{{208, 235}, {78, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 78}}</string>
			<key>sourceSize</key>
			<string>{78, 78}</string>
		</dict>
		<key>object_physics-game-wood/T5.png</key>
		<dict>
			<key>frame</key>
			<string>{{161, 43}, {79, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 79}}</string>
			<key>sourceSize</key>
			<string>{79, 79}</string>
		</dict>
		<key>object_physics-game-wood/T6.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 316}, {79, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 79}}</string>
			<key>sourceSize</key>
			<string>{79, 79}</string>
		</dict>
		<key>object_physics-game-wood/T7.png</key>
		<dict>
			<key>frame</key>
			<string>{{234, 124}, {78, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 78}}</string>
			<key>sourceSize</key>
			<string>{78, 78}</string>
		</dict>
		<key>object_physics-game-wood/T8.png</key>
		<dict>
			<key>frame</key>
			<string>{{115, 162}, {40, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 117}}</string>
			<key>sourceSize</key>
			<string>{40, 117}</string>
		</dict>
		<key>object_physics-game-wood/T9.png</key>
		<dict>
			<key>frame</key>
			<string>{{469, 1}, {40, 232}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 232}}</string>
			<key>sourceSize</key>
			<string>{40, 232}</string>
		</dict>
		<key>object_physics-game-wood/TD1.png</key>
		<dict>
			<key>frame</key>
			<string>{{43, 354}, {111, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {111, 56}}</string>
			<key>sourceSize</key>
			<string>{111, 56}</string>
		</dict>
		<key>object_physics-game-wood/TD10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 469}, {117, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 40}}</string>
			<key>sourceSize</key>
			<string>{117, 40}</string>
		</dict>
		<key>object_physics-game-wood/TD11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {232, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {232, 40}}</string>
			<key>sourceSize</key>
			<string>{232, 40}</string>
		</dict>
		<key>object_physics-game-wood/TD2.png</key>
		<dict>
			<key>frame</key>
			<string>{{81, 43}, {117, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 78}}</string>
			<key>sourceSize</key>
			<string>{117, 78}</string>
		</dict>
		<key>object_physics-game-wood/TD3.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 43}, {78, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 78}}</string>
			<key>sourceSize</key>
			<string>{78, 78}</string>
		</dict>
		<key>object_physics-game-wood/TD4.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 315}, {78, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 78}}</string>
			<key>sourceSize</key>
			<string>{78, 78}</string>
		</dict>
		<key>object_physics-game-wood/TD5.png</key>
		<dict>
			<key>frame</key>
			<string>{{127, 235}, {79, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 79}}</string>
			<key>sourceSize</key>
			<string>{79, 79}</string>
		</dict>
		<key>object_physics-game-wood/TD6.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 354}, {79, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 79}}</string>
			<key>sourceSize</key>
			<string>{79, 79}</string>
		</dict>
		<key>object_physics-game-wood/TD7.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 397}, {78, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 78}}</string>
			<key>sourceSize</key>
			<string>{78, 78}</string>
		</dict>
		<key>object_physics-game-wood/TD8.png</key>
		<dict>
			<key>frame</key>
			<string>{{85, 235}, {40, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 117}}</string>
			<key>sourceSize</key>
			<string>{40, 117}</string>
		</dict>
		<key>object_physics-game-wood/TD9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 235}, {40, 232}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 232}}</string>
			<key>sourceSize</key>
			<string>{40, 232}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>object_physics-game-wood.png</string>
	</dict>
</dict>
</plist>
